<div id="nav">
  <div class="user-banner"><img src="./assets/images/IMG_4565-1.png" />
      <h5 class="username">Aymen Bennour</h5>
  </div>
  <ul>
      <li class="head">General</li>
      <li class="active"><a href="#"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-user"></i><span>Tenants</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-money"></i><span>Payments</span></a></li>
      <li><a href="#"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
  </ul>
</div>