<div id="nav">
    <div class="user-banner"><img src="https://bit.ly/1jFjKGa" />
        <h5 class="username">Matthew Reichardt</h5>
    </div>
    <ul>
        <li class="head">General</li>
        <li class="active"><a href="#"><i class="fa fa-fw fa-dashboard"></i><span>Dashboard</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-inbox"></i><span class="swatch light-grey">Inbox</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-user"></i><span>Tenants</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-money"></i><span>Payments</span></a></li>
        <li><a href="#"><i class="fa fa-fw fa-cog"></i><span>Settings</span></a></li>
    </ul>
</div>
<div id="main">
    <header>
        <ol class="breadcrumb">
            <li> <a href="#">haus</a></li>
            <li class="active">dashboard</li>
        </ol>
    </header>
    <div id="content">
        <h1>Properties</h1>
        <div class="box">
            <div class="body">
                <p>A quick-glance at your performance.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="box property-glance">
                    <div class="header">
                        <h4 class="pull-left">Hawkins Point</h4><span class="pull-right">Avg. Rent: $790</span>
                        <div class="progress clear-right">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">70% occupied<span class="sr-only">70% Complete</span></div>
                        </div>
                        <div class="clear-left"><i class="fa fa-map-marker"></i><span>Mascoutah, IL</span></div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 statistic text-center">
                                <h1>24</h1><small>units</small></div>
                            <div class="col-sm-6 text-center">
                                <h1>18</h1><small>filled</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box property-glance">
                    <div class="header">
                        <h4 class="pull-left">Hawkins Point</h4><span class="pull-right">Avg. Rent: $790</span>
                        <div class="progress clear-right">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">70% occupied<span class="sr-only">70% Complete</span></div>
                        </div>
                        <div class="clear-left"><i class="fa fa-map-marker"></i><span>Mascoutah, IL</span></div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 statistic text-center">
                                <h1>24</h1><small>units</small></div>
                            <div class="col-sm-6 text-center">
                                <h1>18</h1><small>filled</small></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="box property-glance">
                    <div class="header">
                        <h4 class="pull-left">Hawkins Point</h4><span class="pull-right">Avg. Rent: $790</span>
                        <div class="progress clear-right">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;">70% occupied<span class="sr-only">70% Complete</span></div>
                        </div>
                        <div class="clear-left"><i class="fa fa-map-marker"></i><span>Mascoutah, IL</span></div>
                    </div>
                    <div class="body">
                        <div class="row">
                            <div class="col-sm-6 statistic text-center">
                                <h1>24</h1><small>units</small></div>
                            <div class="col-sm-6 text-center">
                                <h1>18</h1><small>filled</small></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <h4 class="love">Made with<i class="fa fa-heart"></i>By Aymen</h4>
    </div>
</div>


<!--this where you can put the routing components.-->
<router-outlet></router-outlet>
