<div class="content">
  <h1>Properties</h1>
  <div class="box">
      <div class="body">
          <p>A quick-glance at your performance.</p>
      </div>
  </div>
  <div class="row">
      <div class="col-sm-4">
          <div class="box property-glance">
              <div class="header">
                  <h5 class="pull-left">{{definedDomainsList.vm1.name}}</h5>
                  <span class="pull-right">Status</span><br>
                  <span class="pull-right">stopped</span>
                  <div class="clear-left"><span>Domain Name</span></div>
              </div>
              <div class="body">
                  <div class="row">
                      <div class="col-sm-6 statistic text-center">
                          <h2>192.168.12.545</h2><small>ip</small></div>
                      <div class="col-sm-6 text-center">
                          <h2>564:dk5:656:dsd</h2><small>MAC address</small></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class='footer-fix-list'>
        <app-footer></app-footer>
</div>